.support-content {
  gap: 6rem;
}

.support-content .text {
  max-width: 600px;
}

.support-content-right img {
  max-width: 620px;
}

@media screen and (min-width: 992px) {
  .support-content {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    text-align: left;
  }
}
