.header {
  flex-direction: column;
  background-color: var(--red-color);
}

.header-content {
  row-gap: 6rem;
  min-height: calc(100vh - 80px);
}

.header-content-right img {
  max-width: 800px;
}

.header-title {
  margin-bottom: 2.5rem;
}

@media screen and (min-width: 992px) {
  .header-content {
    grid-template-columns: 2fr 3fr;
    align-items: center;
    text-align: left;
    column-gap: 6rem;
  }
}
