.what-we-do-item {
  padding: 6rem 0;
  gap: 6;
}

.what-we-do img {
  max-width: 520px;
}

.what-we-do-item .text {
  max-width: 680px;
}

@media screen and (min-width: 992px) {
  .what-we-do-item {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    text-align: left;
  }

  .what-we-do-item:nth-child(even) .what-we-do-item-left {
    order: 2;
  }
}
